<template>
    <div class="col-md-6 " style="margin: 0 auto;">  
        <div v-if="isLoaded" :id="'display-product-'+product.id">
            <h1>{{ product.name }}</h1>
            
            <img v-bind:src="product.imageUrl" class="pull-left">
              
            <p> {{product.description}}</p>
            <p>{{product.detailedDescription}}</p>
            <p>Before: <del>{{product.fullPrice}}:-</del></p>
            <p>Now: {{product.discountedPrice}}:-</p>
        </div>
        <p v-else><em>Loading...</em></p>
        </div>
</template>
<script src="./Product.ts"></script>