@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

    .full-width {
        width: 100vw;
        margin-left: -50vw;
        left: 50%;
    }
}